*,
*:before,
*:after {
    box-sizing: border-box;
}

.clearfix {
	  float:none;
	  clear: both;
}

.card-spot {
    /* display: table-cell; */
    margin: 10px;
    padding: 10px;
    width: 100px;
    height: 150px;
}

.pile {
    /* display: table; */
    position: relative;
    float: left;
    counter-reset: card-number;
    width: 100px;
    height: 150px;
}

.blank-card {
    z-index: 9;
}

.card {
    z-index: 10;
}

.tableau {
    position: absolute;
    /* top: 50px * 1000; */
    counter-increment: card-number;
    /* top: 50px; */
}

.wrapper {
    padding: 10px;
    position: relative;
}