{{define "content"}}
<div class="container">
  <div class="row">
    <div class="jumbotron">
      <h1>Hello, World!</h1>
      <p>Welcome to your new Go web project.</p>
    </div>
    <div class="wrapper">
      <div data-bind="foreach: tableaus">
        <div class="pile">
          <!-- Blank card spot -->
          <img class="card-spot blank-card" src="res/cards-png/b1fv.png"/>
          <!-- Each card in the tableau -->
          <span data-bind="foreach: Cards">
            <img class="card-spot card tableau"
                 data-bind="attr:{ src: $root.imageFilename($data), style: $root.tableauPosition($index()) }"
                 />
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}
